*, *:before, *:after {
  box-sizing: border-box;
}

body { /* outside of app */
  background-color: #ffffff;
  margin: 10px;
  font-family: sans-serif;
  font-size: 16px;
}

.StatusBar {
  position: fixed;
}

.container { /*under status bar */
  margin: 0 auto;
  width: 375px;
  background-color: #ffffff;
}

h1 {
  background-color: #C4C4C4;
  font-weight: 900;
  padding-top: 5%;
  padding-left: 2%;
  padding-bottom: 5%;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

h2 {
  background-color: #C4C4C4;
  font-weight: 900;
  padding-top: 5%;
  padding-left: 3%;
  padding-bottom: 4%;
  width: 100%;
  text-align: left;
  font-size: 14px;
}

li {
  font-size: 16px;
  width: 35%;
  margin: 0 10px;
  display: inline-block;
}

ul {
  background-color: #ffffff;
  padding: 10px 0;
  border-bottom: 2px solid #C4C4C4;
}

.listing {
  padding-top: 5%;
  width: 100%;
}

.bus-routes {
  margin-left: 2%;
  margin-right: 5%;
  width: 18%;
  padding-left: 4%;
}

.bus-info {
  vertical-align: text-bottom;
  width: 70%;
  margin: 0;
  display: inline-block;
}

ul.bus-info::first-line {
  font-weight: 900;
}
