*, *:before, *:after {
  box-sizing: border-box;
}

body { /* outside of app */
  background-color: #ffffff;
  margin: 10px;
  font-family: sans-serif;
  font-size: 16px;
  text-align: left;
}

.StatusBar {
  position: fixed;
  width: 375px;
}

.back-arrow {
  padding-left: 5%;
}

.container { /*under status bar */
  margin: 0 auto;
  width: 375px;
  height: 667px;
  border: 1px solid;
}

.title {
  font-weight: 900;
  padding-top: 5%;
  padding-left: 20%;
  padding-bottom: 5%;
  width: 80px;
  font-size: 16px;
  display: inline-block;

}

h2 {
  font-weight: 900;
  padding-top: 5%;
  padding-left: 3%;
  padding-bottom: 4%;
  width: 100%;
  text-align: left;
  font-size: 14px;
}

li {
  font-size: 14px;
  width: 35%;
  margin: 2px 15px;;
  display: inline-block;

}

ul {
  list-style-type: none;
  background-color: #ffffff;
  padding: 10px 0;

}

.bus-routes {
  width: 18%;
  padding-left: 4%;
}

.bus-info {
  width: 80%;
  margin: 0;
  display: inline-block;
  float: right;
}

li.direction, li.frequency {
  font-weight: 900;
}


li.frequency {
  float: right;
}

li.frequency2 {
  font-weight: 900;
  float: right;
}
